@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  /* 1rem = 10px */
  font-size: 62.5%;
  font-family: Roboto;
}

.color-element {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto;
  background: White;
  border-radius: 50rem;
}

.search-container {
  width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  position: relative;
}

input {
  width: 100%;
  min-width: 175px;
  height: 2rem;
  padding: 1rem;
  border: 1.5px solid black;
  font-size: 1.75rem;
  border-radius: 5px;
  margin: 5px auto;
  font-weight: bold;
}

.button {
  height: 2.5rem;
  width: 2.5rem;
  background: white;
  border: none;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0px;
}

.button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.button img {
  width: 2.75rem;
  background: white;
}

.result {
  width: 24rem;
  min-width: 180px;
  height: 22px;
  margin: 0.5px;
  padding: 3px 10px;
  display: flex;
  font-size: 1.75rem;
  background: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}

.result:hover {
  background: lightgray;
  cursor: pointer;
  font-weight: bolder;
}

.result .color-element {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-left: 8px;
}

@media screen and (max-width: 375px) {
  .search-container {
    width: 190px;
  }
  input {
    margin: 5px 3%;
    height: 1.7rem;
    font-size: 1.7rem;
    width: 190px;
  }
  .result {
    margin: 0 4%;
    font-size: 1.7rem;
    width: 190px;
  }
}
