.search-container {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  width: 55%;
  min-width: 175px;
  height: 25px;
  padding: 10px;
  border: 1.5px solid black;
  font-size: 15px;
  border-radius: 6px;
  margin: 5px auto;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.result {
  width: 100%;
  min-width: 165px;
  height: 22px;
  margin: 1px auto;
  padding: 3px;
  display: flex;
}

.result:hover {
  background: lightgray;
  cursor: pointer;
  font-weight: bolder;
}

.color-element {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto;
  background: White;
  border-radius: 50rem;
}

.result .color-element {
  justify-content: right;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0;
  margin-left: 5px;
}
